.App {
  text-align: center;
  width: 1000px;
  margin: 5px auto;
  margin-bottom: 10px;

  .apod-image {
    img {
      object-fit: contain;
      width: 100%;
      height: auto;
    }
  }

  .apod-description {
    width: 800px;
    margin: 10px auto;
    p {
      text-align: left;
    }
  }
}
